#ab_chart {
	color: #a7aaad;
	height: 140px;
	margin: 0 -4px;
	text-align: center;
}

#ab_chart_data {
	display: none;
}

#ab_widget .inside {
	height: 1%;
	margin: 0;
	padding-bottom: 0;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}
