# Directories
.aider/
.idea/
assets/dist
build/
node_modules/
test-results/
tests/e2e/report/
tmp/
vendor/

# Files
.aider.conf.yml
AGENTS.local.md
.claude/settings.local.json
chromedriver
CLAUDE.local.md
composer.lock
CONVENTIONS.local.md
DOCKER_ENV
driver.tar.gz
driver.zip
geckodrier
nohup.out
.wp-env.override.json
yarn.lock
