# Directories
/.cursor export-ignore
/.git export-ignore
/.github export-ignore
/.wordpress-org export-ignore
/bin export-ignore
/node_modules export-ignore
/tests export-ignore
/vendor export-ignore

# Files
/.distignore export-ignore
/.eslintrc.json export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.phpunit.result.cache export-ignore
/.sonarcloud.properties export-ignore
/.stylelintrc.json export-ignore
/.windsurfrules export-ignore
/.wp-env.json export-ignore
/AGENTS.md export-ignore
/CLAUDE.md export-ignore
/CONVENTIONS.md export-ignore
/DOCKER_ENV export-ignore
/README.md export-ignore
/behat.yml export-ignore
/composer-php-5-4.json export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/docker-compose.yml export-ignore
/docker_tag export-ignore
/output.log export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/playwright.config.ts export-ignore
