# Directories
/.aider/
/.claude/
/.idea/
/assets/dist
/build/
/**/node_modules/
/test-results/
/tests/e2e/report/
/tmp/
/**/vendor/

# Files
/.aider.conf.yml
/.phpunit.result.cache
/.windsurfrules
/.wp-env.override.json
/AGENTS.local.md
/CLAUDE.local.md
/CONVENTIONS.local.md
/DOCKER_ENV
/chromedriver
/composer.lock
/driver.tar.gz
/driver.zip
/geckodrier
/nohup.out
/output.log
/yarn.lock
