# Directories
.idea/
assets/dist
build/
node_modules/
test-results/
tests/e2e/report/
tmp/
vendor/

# Files
.wp-env.override.json
chromedriver
composer.lock
DOCKER_ENV
driver.tar.gz
driver.zip
geckodrier
nohup.out
yarn.lock
