<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertDeprecationsToExceptions="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">tests/Unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix=".php">tests/Integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
